



.contact-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  max-width: 60000px;
  padding: 200px;
  background-color: #f9f9f9;
  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-heading {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

.contact-description {
  text-align: center;
  margin-bottom: 30px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 8px;
  font-weight: bold;
}

.contact-form input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.submit-btn,
.google-signin-btn {
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
}

.submit-btn {
  background-color: #007bff;
  color: white;
}

.submit-btn:hover {
  background-color: #0056b3;
}

.google-signin-btn {
  background-color: #ffffff;
  color: #757575;
  display: flex;
  align-items: center;
}

.google-signin-btn:hover {
  background-color: #f0f0f0;
}

.icon {
  margin-right: 10px;
}

.forgot-password {
  text-align: center;
  margin-top: 10px;
}

.forgot-password a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.forgot-password a:hover {
  color: #0056b3;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
  color: #757575;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #333;
}
