body{
    width: 600px;
}

.auth-form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.auth-form-container {
    display: flex;
    flex-direction: column;
}

.auth-title {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.auth-input-group {
    margin-bottom: 15px;
}

.auth-input-group label {
    margin-bottom: 5px;
    display: block;
}

.auth-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

.auth-input.user {
    margin-bottom: 15px;
}

.auth-input.password {
    margin-bottom: 15px;
}

.auth-button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.auth-button:hover {
    background-color: #218838;
}

.auth-checkbox-container {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.auth-checkbox-container label {
    font-size: 0.9em;
}

.auth-password-reset {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    font-size: 0.9em;
}

.auth-password-reset a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.auth-password-reset a:hover {
    color: #0056b3;
}
